/node_modules
/public/hot
/public/storage
/public/images/base-corporal-liquida
/public/images/bodypainting
/public/images/bodypainting-colors
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
vendor.zip
/app/Http/Middleware/AngelesUrbanos.php